* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-primary: #010101;
    --bg-color-button-primary: #171719;
    --bg-color-button-secondary: #2d2d2f;
    --bg-color-button-result: #318607;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorWrapper {
    background-color: var(--bg-color-primary);
}

button {
    border: none;
    border-radius: 50%;
}

.insertButton, .functionButton, #resultButton {
    width: 40px;
    height: 40px;
}

.insertButton {
    background-color: var(--bg-color-button-primary);
}

.functionButton {
    background-color: var(--bg-color-button-secondary);
}

#resultButton {
    background-color: var(--bg-color-button-result);
}