* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-primary: #010101;
    --bg-color-button-primary: #171719;
    --bg-color-button-secondary: #2d2d2f;
    --bg-color-button-result: #318607;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100svh;
}

.calculatorWrapper {
    display: flex;
    flex-direction: column;
    
    width: 350px;
    height: 600px;

    background-color: var(--bg-color-primary);
}

.buttonSection {
    display: grid;
    grid-template-rows: repeat(5, 0.2fr);
    grid-template-columns: repeat(4, 0.2fr);
    
    column-gap: 0;
    row-gap: 4px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 50%;

    cursor: pointer;
}

.insertButton, .functionButton, #resultButton {
    width: 60px;
    height: 60px;

    color: #e8e8ea;
}

.insertButton:hover, .functionButton:hover {
    background-color: #444446;
}

.insertButton:hover, .functionButton:hover, #resultButton:hover{
    transition-duration: 0.2s;
    filter: brightness(150%);
}

.positiveFunction {
    color: #5aff7c;
}

.insertButton {
    background-color: var(--bg-color-button-primary);
}

.functionButton {
    background-color: var(--bg-color-button-secondary);
}

#resultButton {
    background-color: var(--bg-color-button-result);
}